/* IMPORT FONTS */
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Light.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Medium.ttf');
}
@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Bold.ttf');
    font-weight: bold;
}

/* IMPOSTAZIONI BASE --------------------------------------- */
body{
  font-family: 'Sailec';
  background: #fff;
  color: rgba(3,27,78,.7);
}
h1{
  font-weight: bold;
  color: white !important;
}



/* MAXI DESKTOP -------------------------------- */
@media screen and (min-width: 1200px){


}

/* DESKTOP -------------------------------- */
@media screen and (min-width: 992px) and (max-width:1199px ) {


}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {


}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {


}
